{% assign categories = site.posts | group_by: "category" %}
<nav class="panel panel-default" style="margin-left: -15px;">
	<a href="/{{ /index.html | prepend: site.baseurl }}" class="list-group-item">
		  <span class="glyphicon glyphicon-list" style="width:20px"></span><span class="lead">Index</span>
	</a>
	{% for post in site.posts limit: 20 %}
	<a href="{{ p.url | prepend: site.baseurl }}" class="list-group-item">
		<span class="center-block">{{ post.title }}</span>
		<small>{{ post.date | date: "%b %-d, %Y" }}</small>
	</a>
	{% endfor %}
</nav>
{% for category in categories %}
<nav class="panel panel-default" style="margin-left: -15px;">
	<div class="panel-heading">
		{% if category.name %}<h1 class="panel-title">{{ category.name | capitalize }}</h1>{% endif %}
	</div>
	{% for post in category.items %}{% if post.title %}
	<a href="{{ p.url | prepend: site.baseurl }}" class="list-group-item{% if p.url == post.url %} active{% endif %}">
		{{ post.title }}
	</a>
	{% endif %}{% endfor %}
</nav>
{% endfor %}