{% assign collection = site.collections.[page.collection].docs | sort: "priority", "last" | group_by: "category" %}
<nav class="panel panel-default" style="margin-left: -15px;">
	<a href="/{{ page.collection | prepend: site.baseurl }}/index/" class="list-group-item">
		  <span class="glyphicon glyphicon-list" style="width:20px"></span><span class="lead">Index</span>
	</a>
</nav>
{% for group in collection %}
<nav class="panel panel-default" style="margin-left: -15px;">
	<div class="panel-heading">
		{% if group.name %}<h1 class="panel-title">{{ group.name | capitalize }}</h1>{% endif %}
	</div>
	{% for d in group.items %}{% if d.title %}
	<a href="{{ d.url | prepend: site.baseurl }}" class="list-group-item{% if d.url == page.url %} active{% endif %}{% if d.priority %} priority-{{ d.priority }}{% endif %}">
		{{ d.title }}
	</a>
	{% endif %}{% endfor %}
</nav>
{% endfor %}