{% assign collection = site.collections | where: "label", page.collection | first %}
{% assign categories = collection.docs | sort: "category", "last" | group_by: "category" %}
<nav class="panel panel-default" style="margin-left: -15px;">
	<a href="/{{ page.collection | prepend: site.baseurl }}/index/" class="list-group-item">
		  <span class="glyphicon glyphicon-list" style="width:20px"></span><span class="lead">Index</span>
	</a>
</nav>
{% for group in categories %}
{% assign priorities = group.items | sorty: "priority", "last" | group_by: "priority" %}
<nav class="panel panel-default" style="margin-left: -15px;">
	<div class="panel-heading">
		{% if group.name %}<h1 class="panel-title">{{ group.name | capitalize }}</h1>{% endif %}
	</div>
	{% for priority in priorities %}
	{% assign docs = priority.items | sort: "title", "last" %}
		{% for d in docs %}{% if d.title %}
		<a href="{{ d.url | prepend: site.baseurl }}" class="list-group-item{% if d.url == page.url %} active{% endif %}{% if d.priority %} priority-{{ d.priority }}{% endif %}">
			{{ d.title }}
		</a>
		{% endif %}{% endfor %}
	{% endfor %}
</nav>
{% endfor %}