<article class="panel panel-default">
	<header class="panel-heading">
		<h1 class="panel-title">{{ page.title }}</h1>
		{% if page.author %}<small>By {{ page.author }}</small>{% endif %}
		{% if page.date %}<small>{{ page.date }}</small>{% endif %}
	</header>

	<section class="panel-body">
		{{ content }}
	</section>

	{% if page.source %}
	<footer class="panel-footer">
		<p style="word-wrap: break-word; margin-bottom:0px">From: <a href="{{ page.source }}">{{ page.source }}</a></p>
	</footer>
	{% endif %}
</article>