img {
	@extend .center-block;
	@extend .img-thumbnail;
	@extend .clearfix;

	min-width: 20px;
	max-width: 700px;
	min-height: 20px;
	max-height: 600px;
}

cite {
	display: block;
}

img + cite {
	@extend .center-block;
	@extend .clearfix;

	text-align: center;
	max-width: 600px;
}

iframe {
	@extend .center-block;
}